ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
    }
li {
  display: inline;
  font-family: Roboto;
  font-size: 14px
  }
li a {
  text-align: center;
  color: grey;
  padding-top: 30px;
  padding-right: 16px;
  text-decoration: none;
}
i {
  color: grey;
}
.content {
  padding: 10px;
}
.content input[type=text] {
  border: none;
  font-size: 15px;
}
.content .searchcontainer{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 500px;
   padding: 0.5rem;
   border-radius: 20px;
   border: 2px solid #DDDDDD;
}

.button-signin{
  background-color: #008CBA;
  color: white;
  border: 1px solid transparent;
  font-family: Roboto;
  font-size: 14px;
  margin-left: 0.7rem;
}

.search-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.button-search {
  min-width: 54px;
  height: 36px;
  border: 1px solid transparent;
  border-radius: 5px;
  margin: 0.7rem;
  color: #666;
  font-family: Roboto;
  font-size: 16px;
}


.bottomnav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #EEE;
}
